@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~lightgallery/css/lightgallery-bundle.css';
@import '~jodit/build/jodit.min.css';
@import '~filepond/dist/filepond.min.css';
@import '~filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: Inter;
}

.page-bg {
    width: 100%;
    min-width: 0;
    @apply bg-gray-50;
}

// Fix styles for text editor
.jodit-wysiwyg {
    ul {
        padding-left: 2rem;
        list-style: unset;
    }
    ol {
        padding-left: 2rem;
        list-style: auto;
    }
}

// Preview text
.truncate-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.truncate-text-long {
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

// Override flowbite styles

@media (min-width: 768px){
    nav.md\:p-2 {
        padding: 0.5rem;
    }
}
@media (min-width: 1280px){
    div.xl\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 640px){
    #lightgallery.sm\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media (min-width: 1024px){
    #lightgallery.lg\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
@media (min-width: 1536px){
    #lightgallery.\32xl\:grid-cols-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

// Styled links
.style-links a, a.style-links {
    &[href]{
        @apply my-1 inline-flex items-center py-2 px-4 font-medium text-gray-900 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700;
        &::before {
            font-family: "Font Awesome 6 Free";
            font: var(--fa-font-solid);
            margin-right: 10px;
        }
    }
    &[href]:not(:where(
        /* excluded links */
        [href^="#"],
        [href^="/"]:not([href^="//"]),
        [href*="//www.lvva.lv"],
        [href*="//lvva.ddns.net"]
    ))::before {
        content: "\f0c1";
    }
    &[href$=".pdf"]::before {
        content: "\f1c1";
        margin: 0 14px 0 4px;
    }
    &[href$=".doc"]::before,
    &[href$=".docx"]::before {
        content: "\f1c2";
        margin: 0 14px 0 4px;
    }
    &[href$=".xls"]::before,
    &[href$=".xlsx"]::before {
        content: "\f1c3";
        margin: 0 14px 0 4px;
    }
    &[href^="tel:"]::before {
        content: "\f095";
    }
}

.page-title {
    h1 {
        @apply text-3xl font-bold;
    }
    @apply flex justify-between items-center gap-4;
}

.btn-sm {
    @apply gap-2 inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-sky-700 rounded-lg hover:bg-sky-800 focus:ring-4 focus:outline-none focus:ring-blue-300;
}

.btn-md {
    @apply gap-2 inline-flex items-center py-2 px-4 font-medium text-center text-white bg-sky-700 rounded-lg hover:bg-sky-800 focus:ring-4 focus:outline-none focus:ring-blue-300;
}

// Accordion add bottom border to last element
#accordion-open h2:last-of-type button,
#accordion-open > div:last-of-type > div {
    border-bottom-width: 1px;
}

// File select responsive grid

@media (min-width: 30em) {
    .filepond--item {
        width: calc(50% - 0.5em);
    }
}

@media (min-width: 50em) {
    .filepond--item {
        width: calc(33.33% - 0.5em);
    }
}


.label-required:after {
    content:" *";
    color: red;
}

.tag {
    @apply gap-2 w-fit text-sm font-medium inline-flex items-center px-2.5 py-1 rounded;
}